* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: url('./assets/img/space.png') top #000;
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -10;
  }
}
#app {
  padding: 15px 0;
}
.container {
  width: 1140px;
  margin: 0 auto;
  padding: 10px;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 580px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
}
