* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-image: url('./assets/img/space.png');
  background-position: top;
}
#nav {
  padding: 30px;

  a {
    font-weight: bold;

    &.active {
      color: #42b983;
    }
  }
}
.container {
  width: 1140px;
  margin: 0 auto;
  padding: 10px;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 580px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
}
